body{
background-color: gray;
}
header h1{
color: #F61D7E;
}
header h4{
float:right;
margin-right: 85px;
margin-top: -25px;
}
h4 a{
text-decoration: none;
}
h4 a:hover{
color: orange;
}
#reg{
padding: 5px;
padding-bottom: 35px;
background-color: #1CFDE8;
margin: 20px 500px;
}
[placeholder]:focus::-webkit-input-placeholder {
transition:text-indent 1s 0.5s ease;
text-indent: -100%;
}
label{
font-weight: bolder;
}
input{
height: 30px;
width: 300px;
}
#usubmit{
background-color: #F4152D;
border-radius: 10px;
border-color: #F9870E;
border-style: solid;
border-width: thick;
width: 150px;
float: right;
}